project/boot/
project/target/

target/

src/testproject/.history
src/testproject/project/boot/
src/testproject/project/plugins/project/
src/testproject/project/plugins/target/
src/testproject/project/target/
src/testproject/target/

.bsp/

# Sublime
*.sublime-*

# IntelliJ
/.idea
*.iml
